<div id="intro">
  <div class="description">
    <h2>Bots Constructor From Enthusiasts</h2>
    <h3>Easy creation | Maximum functionality</h3>
  </div>
  <noscript>
    К сожалению у вас в браузере отключён javaScript.
    Поэтому многие фишки на сайте работать не будут!
  </noscript>
</div>

<style>
  #intro {
    background: url('static/image/cover/steinsGate.jpg') center 17% no-repeat;
    background-size: cover;
    padding: 6em;
    text-align: center;
  }

  #intro .description {
    background: rgba(34, 30, 31, 0.98);
    border-radius: 5px;
    display: inline-block;
    padding: 2.5em 5em;
  }

  #intro h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 0 0.65em 0;
  }

  #intro h3 {
    color: #d52349;
    font-size: 1.5em; 
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
  }

  #intro h3::selection {
    color: #fff;
  }

  @media (max-width: 1024px) {
    #intro .description {
      padding: 2.5em 3.5em;
    }

    #intro h2 {
      font-size: 2em;
    }

    #intro h3 {
      font-size: 1.5em;
    }
  }

  @media (max-width: 800px) {
    #intro {
      padding: 3em;
    }

    #intro .description {
      padding: 2.5em;
    }

    #intro h2 {
      font-size: 1.5em;
    }

    #intro h3 {
      font-size: 1.25em;
    }
  }

  @media (max-width: 600px) {
    #intro {
      padding: 0;
    }

    #intro .description {
      background: rgba(34, 30, 31, 0.9);
      border-radius: 0;
      padding: 2.5em 1em;
      width: 100%;
    }
  }
</style>
<script>
  document.onscroll = () => {
    document.querySelector('#intro').style.backgroundPositionY = `${pageYOffset / 10 + 17}%`;
  }
</script>