@font-face {
  font-family: 'icomoon';
  src:
    url('./icomoon.ttf?qvb5nr') format('truetype'),
    url('./icomoon.woff?qvb5nr') format('woff'),
    url('./icomoon.svg?qvb5nr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-drive:before {
  content: "\e963";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-embed2:before {
  content: "\ea80";
}
