<intro></intro>
<main>
  <!-- Features -->
  <section id="features">
    <header>
      <h2>Features</h2>
      <hr>
    </header>
    <div>
      <article>
        <h4 class="icon-pacman">Simplicity</h4>
        <p>Bot development will be very simple and interesting.</p>
      </article>
      <article>
        <h4 class="icon-embed2">Great functionality</h4>
        <p>
          In order for your bot to compete with other bots - we provide maximum functionality!
        </p>
      </article>
      <article>
        <h4 class="icon-spinner2">Higher productivity</h4>
        <p>
          Speed bot answers, speed site loading and speed of the data is higher that 
          competitors!
        </p>
      </article>

      <article>
        <h4 class="icon-drive">High upTime</h4>
        <p>
          Your customers will not have problems with the availability of the bot, because we 
          have 99.9% upTime
        </p>
      </article>
      <article>
        <h4 class="icon-coin-dollar">Not a big price</h4>
        <p>We do not overstate the price of functionality! We want to save your finances!</p>
      </article>
      <article>
        <h4 class="icon-bubbles">Easy support!</h4>
        <p>
          You can communicate with our support in the messenger, by email, or even via chat on 
          the site!
        </p>
      </article>
    </div>
  </section>
</main>