/* Title */
#title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#title h1 {
  font-size: 32px;
  margin: 0 0 0 5px;
}

/* Top Menu */
#topMenu {
  background: white;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

#topMenu a {
  border-radius: 5px;
  color: #5d5d5d;
  font-style: italic;
  font-weight: 200;
  padding: 7.5px 15px;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

#topMenu a:hover {
  background: #f3f3f3;
}

#topMenu a.current {
  background: #d52349;
  color: #fff;
  font-weight: normal;
}

#topMenu a.current::selection {
  color: #333;
}

#topMenu ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section {
  padding: 25px;
}

footer {
  padding: 25px;
}

section:hover h2 {
  padding: 0 2.5em;
}

section header {
  background: inherit;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

section header h2 {
  background: inherit;
  display: inline;
  font-size: 1.5em;
  margin: 0;
  padding: 0 1em;
  position: relative;
  transition: all .2s ease-in-out;
  z-index: 1;
}

section header hr {
  border-color: #ccc;
  border-top: 0;
  bottom: calc(1.5em / 2 + 1px);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}