* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

li {
  list-style: none;
  margin: 10px;
}

noscript {
  background: yellow;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

::selection {
  color: #d52349;
  background: transparent;
}