#features {
  background: #eee;
}

#features div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

#features article {
  background: white;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
  padding: 25px;
}

#features h4 {
  align-items: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: min-content auto;
  margin: 0;
}

#forBusiness {
  background: #fff;
}